header,
main,
footer {
  width: 100%;
  padding-top: 40px;
  margin-bottom: 40px;
}
main {
  padding-top: 60px;
}
footer {
  background: var(--bg-black);
}
.header-container,
.footer-container {
  max-width: 1180px;
  margin-inline: auto;
}
section {
  flex-wrap: wrap;
  gap: 60px;
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 160px;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  border: none;
  background: none;
  border-radius: 20px;
  color: var(--bg-light);
  font-family: var(--primary-font-bold);
  font-size: 16px;
}
button:hover {
  background: var(--bg-btn-hover) !important;
}
.btn-primary {
  width: 152px;
  height: 50px;
  background: var(--bg-pink);
}
.btn-footer {
  margin-left: -5px;
  font-family: var(--primary-font);
  font-size: 16px;
}
.btn-artist {
  color: rgba(250, 250, 250, 0.8);
  font-family: var(--primary-font);
}
.btn-light {
  width: 240px;
  height: 60px;
  border: 2px solid var(--bg-pink);
  margin-top: 40px;
}
a {
  color: var(--bg-light);
  text-decoration: none;
}
a:hover {
  color: var(--bg-pink) !important;
}
p {
  font-size: 22px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--bg-light);
  font-family: var(--primary-font-bold);
  line-height: 110%;
}
h1 {
  font-size: 67px;
}
h2 {
  font-size: 51px;
}
h3 {
  font-size: 38px;
  line-height: 120%;
}
h4 {
  font-family: var(--secondary-font-bold);
  font-size: 28px;
  line-height: 140%;
}
h5 {
  font-size: 22px;
}
input {
  outline: none;
  border: none;
  height: 60px;
  border-radius: 20px;
}
input[type="email"] {
  color: var(--bg-primary);
  padding-left: 16px;
}
input[type="submit"] {
  width: 210px;
  padding-left: 30px;
  background: var(--bg-pink);
  cursor: pointer;
  color: var(--bg-light);
  font-size: 16px;
  line-height: 140%;
}
input[type="submit"]:hover {
  font-weight: bolder;
}
