@font-face {
  font-family: "Mulish-Regular";
  src: local("Mulish-Regular");
  src: url(../fonts/Mulish-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Mulish-SemiBold";
  src: local("Mulish-SemiBold");
  src: url(../fonts/Mulish-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Mulish-Bold";
  src: local("Mulish-Bold");
  src: url(../fonts/Mulish-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}