:root {
  /* Fonts */
  --st-font-primary: "Mulish-Regular";
  --st-font-primary-semibold: "Mulish-SemiBold";
  --st-font-primary-bold: "Mulish-Bold";

  /* Colors */
  --st-font-black: #272927;
  --st-font-gray: #818181;
  --st-card-bg-sugar: #f8debd;
  --st-card-bg-rate: #fbf0f3;
  --st-card-bg-press: #d0fbff;
  --st-card-bg-temp: #f8bdbd;
}
