/* Positions */
.abs {
  position: absolute !important;
}
.rel {
  position: relative !important;
}
.z-1 {
  z-index: 1;
}
/* Combo */
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.st-flex-ai-jc-cen {
  display: flex;
  align-items: center;
  justify-content: center;
}
.st-flex-ai-jc-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.st-flex-ai-jc-end {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.st-flex-ai-cen-jc-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.st-flex-ai-start-jc-cen {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.st-flex-ai-cen-jc-spbet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.st-flex-ai-start-jc-spbet {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.flex-ai-end-jc-spbet {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.flex-ai-cen-jc-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-ai-cen-jc-even {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.flex-ai-bline-jc-start {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.st-flex-col-ai-jc-cen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-col-ai-start-jc-cen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.flex-col-ai-cen-jc-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.flex-col-ai-cen-jc-spbet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.st-flex-col-ai-jc-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.flex-col-ai-bline-jc-start {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
}
.flex-col-ai-jc-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

/* Sizes */
.size-100 {
  width: 100%;
}
.size-95 {
  width: 95%;
}
.size-90 {
  width: 90%;
}
.size-85 {
  width: 85%;
}
.size-80 {
  width: 80%;
}
.size-70 {
  width: 70%;
}

.size-60 {
  width: 60%;
}
.size-55 {
  width: 55%;
}
.size-50 {
  width: 50%;
}
.size-45 {
  width: 45%;
}
.size-40 {
  width: 40%;
}
.size-30 {
  width: 30%;
}
.size-20 {
  width: 20%;
}

/* Gaps */
.gp-5 {
  gap: 5px;
}
.gp-10 {
  gap: 10px;
}
.gp-15 {
  gap: 15px;
}
.gp-20 {
  gap: 20px;
}
.gp-25 {
  gap: 25px;
}
.gp-30 {
  gap: 30px;
}
.gp-40 {
  gap: 40px;
}
.gp-44 {
  gap: 44px;
}
.gp-50 {
  gap: 50px;
}
.gp-60 {
  gap: 60px;
}
.gp-150 {
  gap: 150px;
}
.gp-480 {
  gap: 480px;
}
/* Margins-Paddings */
.mr-auto {
  margin-inline: auto;
}
.mrt-50 {
  margin-top: 50px;
}
.mrb-10 {
  margin-bottom: 10px;
}
.mrb-15 {
  margin-bottom: 15px;
}
.mrb-20 {
  margin-bottom: 20px;
}
.mrb-25 {
  margin-bottom: 25px;
}
.mrb-30 {
  margin-bottom: 30px;
}
.mrb-40 {
  margin-bottom: 40px;
}
.mrb-50 {
  margin-bottom: 50px;
}
.mrb-60 {
  margin-bottom: 60px;
}
.mrb-70 {
  margin-bottom: 70px;
}
.mrb-80 {
  margin-bottom: 80px;
}
.mrb-90 {
  margin-bottom: 90px;
}
.mrb-120 {
  margin-bottom: 120px;
}
.mrb-160 {
  margin-bottom: 160px;
}
.mrr-40 {
  margin-right: 40px;
}
.mrr-60 {
  margin-right: 60px;
}
.mrr-80 {
  margin-right: 80px;
}
.mrr-10 {
  margin-right: 10px;
}
.mrl-30 {
  margin-left: 30px;
}
.mrl-70 {
  margin-left: 70px;
}
.pd-10 {
  padding: 10px;
}
.pdt-30 {
  padding-top: 30px;
}
.pdt-20 {
  padding-top: 20px;
}
.pdb-20 {
  padding-bottom: 20px;
}
.pdb-30 {
  padding-bottom: 30px;
}
.pdb-40 {
  padding-bottom: 40px;
}
.pdl-20 {
  padding-left: 20px;
}
